body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-bottom: 30px;
}

h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}

.bike_map_container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}